
@font-face{
  font-family: "funte";
  src: url('/font/fuente1.woff2');
  src: url('/font/fuente1.woff2.woff2') format( 'woff2' ),
}

body {
  margin: 0;
  font-family: 'fuente';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

