/* latin-ext */
@font-face {
  font-family: 'titulo';
  src: url('../font/fuente1.woff2')format('woff2') ;

  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.ServiMenu { 
  width: 100%;
}

.Menu{
  font-family: 'titulo';
  position: fixed;
  line-height: 3em;
  top: 0;
  width:100%;
  z-index: 9;
  background-color: gray !important;
  height: 3em;
}

.Carousel{
  margin-top: 60px;
}