/* latin-ext */
@font-face {
  font-family: 'titulo';
  src: url('../font/fuente1.woff2')format('woff2') ;

  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.ServiMenu { 
  width: 100%;
}

.Menu{
  font-family: 'titulo';
  position: fixed;
  line-height: 3em;
  top: 0;
  width:100%;
  z-index: 9;
  background-color: gray !important;
  background-color: var(--rojo) !important;
  height: 3em;
  color: var(--blanco) !important;
}
.MenuScroll{
  font-family: 'titulo';
  position: fixed;
  line-height: 3em;
  top: 0;
  width:100%;
  z-index: 9;
  background-color: transparent !important;
  height: 3em;
}

.menuText{
  color: var(--blanco) !important;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}